@import "./variables.scss";
.modal-dialog {
  --bs-heading-color: #{$body-bg-color};
  --bs-modal-color: #{$body-bg-color};
  --bs-modal-width: 500px;

  .modal-body {
    padding: 0;
    height: 500px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #333;

    .devider {
      width: 50px;
    }
  }

  .countdown-timer {
    display: flex;
    gap: 10px;
    .time {
      flex-grow: 1;
      flex-basis: 0;
      color: #{$primary-color};
      background: #{$accent-color};
      padding: 10px;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 10px;
      &-item {
        font-size: 2rem;
      }
    }
  }
}
