@use 'sass:math';
@import './variables.scss';
$size: 80px;
.fencing {
  &-page {
    &-header {
      height: 80vh;
    }
    &-content {
      color: $body-bg-color;
      padding: 100px 0px;
      padding: 100px 0px;
      h2.wp-block-heading {
        font-size: 2.5rem;
      }

      .wp-block-image {
        &.negative-margin {
          img {
            margin-top: -147px;
          }
        }
      }

      ul li {
        font-weight: bold;
        list-style-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-lg" stroke-width="3px" viewBox="0 0 16 16"><path d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425z"/></svg>');
        list-style-position: inside;
      }

      .wp-block-columns {
        &.with-pseudo-element {
          .wp-block-column {
            &:first-child,
            &:last-child {
              .wp-block-cover {
                position: relative;
              }
            }
            &:first-child {
              .wp-block-cover {
                &:after {
                  content: '';
                  border-bottom-left-radius: 16px;
                  width: $size;
                  min-height: $size;
                  position: absolute;
                  top: calc(50% - math.div($size, 2));
                  right: -(math.div($size, 2));
                  transform: rotate(45deg);
                  background: #fff;
                  z-index: 2;
                }
              }
            }
            &:last-child {
              .wp-block-cover {
                &::before {
                  $size: 80px;
                  content: '';
                  border-top-right-radius: 16px;
                  width: $size;
                  min-height: $size;
                  position: absolute;
                  top: calc(50% - $size / 2);
                  left: -(math.div($size, 2));
                  transform: rotate(45deg);
                  background: #fff;
                  z-index: 2;
                }
              }
            }
          }
        }
      }
    }
  }
}
