$primary-color: #f8f6e2;
$borders-color: #666755;
$accent-color: #db6015;
$primary-font: 'Roboto', sans-serif;
$hover-transition: all 0.3s ease-in-out;
$stroke-width: 5px;
$body-bg-color: #121212;
$fade-gradient: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
