.wp-block-column {
  &[style^="border-right-color"] {
    @media screen and (max-width: 769px) {
      & {
        border-right: none !important;
        border-bottom: 1px solid #666755;
        padding-bottom: 20px;
      }
    }
  }
  &.has-border-color {
    border-radius: 30px;
    position: relative;
    &.bg-blur {
      backdrop-filter: blur(60px);
    }
  }
}
.wp-block-columns {
  position: relative;

  @media screen and (max-width: 769px) {
    &:not(.fencing-cover) {
      gap: 50px;
      padding-right: 20px !important;
      padding-left: 20px !important;
    }
    &.has-accent-background-color {
      padding: 40px 20px !important;

      p {
        padding: 0 !important;
      }
    }
    &.fencing-md-reverse {
      flex-direction: column-reverse;
    }
  }
  &.has-background {
    z-index: 3;
  }
}

.wp-block-button {
  @media screen and (max-width: 769px) {
    & {
      flex-grow: 1;
      .wp-element-button {
        width: 100%;
      }
    }
  }
}
